.cv {
  width: 500px;
  height: 500px;
  display: flex;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 16px;
}

.results {
  margin-left: 20px;
}

.btn-buscar {
  background-color: coral;
}